<div class="row">
  <div class="col-xs-12">
    <section id="skills">
      <div class="row">
				<div class="col-xs-12 col-sm-4">
					{{ dribbble-picture dg=model.pictures.data }}
        </div>
      </div>
    </section>
  </div>
</div>
