<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">
          {{#link-to "index" replace=true}}
            <em>Dibble Gallery</em>

          {{/link-to}}
        </h1>
      </div> 
    </div>
  </div>
</div>    
<div class="container-fluid">
  <div class="container">
     <div class="row">
      <div class="col-xs-12">
        <div class="body">
          {{outlet}}
        </div> 
      </div>
    </div>
  </div>
</div>    
